body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
    color: #1c1c1c;
}


.header {
    background-color: blanchedalmond;
    width: 50vw;
    padding: 2em;

    /* centering */ 
    margin: auto;
    width: 50%;
    border: 3px solid #1c1c1c;
    padding: 10px;
    padding-bottom: 30px;

    /* rounded corners */ 
    border-radius: 1em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
  }

/* code that makes the hover turn into a short description */ 
div.hover-item span.description {
    display: none;
  }
  
  div.hover-item:hover span.title {
    display: none;
  }
  
  div.hover-item:hover span.description {
    display: inline;
  }


/* Flexbox styling test */
.image-wrapper {
    margin: 0vw;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  
  .item {
    padding: 1vw;
  }
  
  @media only screen and (max-width: 1000px) {
    .text-content-area {
      width: 97%;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .column {
      flex: 1
    }
  }