body {
    margin: 5em;
}

p {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    padding-left: 1em;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border-radius: 7.5px;
    border: 2px solid black;
    margin: 2px;
    height: 10em;
}  
