@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamicWeightSlantVF.ttf);
  }

html, body {
    margin: auto;
    width: 95%;
    padding: 10px;

    font-family: 'Aero-Dynamic', sans-serif;
    font-size:100px;

    background-color: grey;

  }

  .variable {
    /* margin-top: 15%;*/
    text-align: center;
    font-size: 100%;
    color: white;

    line-height: 1rem;
  }

  /* Small type above and below the message */
  h3 {
    font-variation-settings: 'opsz' 100;
    font-weight: 60;

    color: white;
    font-size: 30%;
  }

  /* This is being used to write the main message */ 
  small {
    font-size: 90%;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: -3%;
  }

  p {
    color: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: -3%;
  }

    /* link styling, resetting to remain white */ 
a {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}
   /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  } 

  .button {
    font-size: 30%;
    font-variation-settings: 'opsz' 100;
    font-weight: 60;

    border-style: solid;
    border-color: white;

    border-radius: 1rem;
    padding: .1rem;
    padding-top: .15rem;
    padding-bottom: .13rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .button:hover {
    background: white;
    color: black;
  }

  .button-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }



