@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamicWeightSlantVF.ttf);
  }

body {
    margin: 0px;
    /* width: 95%; */
    padding: 10px;

    font-family: 'Aero-Dynamic', sans-serif;
    font-size:100px;

    /* background image styling, not sure it's working */
    background-size: 110vw;
    background-repeat: no-repeat;
    /* background-position: 0%; /* this is more of a hack than an actual solution */ 
    background-blend-mode: multiply;
    background-color: #494949;
  }

  .variable {
    /* margin-top: 15%;*/
    text-align: center;
    font-size: 7.5vw;
    color: white;

    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  h2 {
    font-variation-settings: 'opsz' 100;
    font-weight: 60;
    font-size: 20%;
    color: white;
    text-align: center;
  }

  /* absolute position for the instructions */
  .instructions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    left: 35%;
    bottom: 1%;
  }

  /* Small type above and below the message */
  h3 {
    font-variation-settings: 'opsz' 100;
    font-weight: 60;

    color: white;
    font-size: 20%;
  }

  /* This is being used to write the main message */ 
  small {
    font-size: 100%;
    line-height: 6rem;
    /*color: white; */
    margin: 0px;
    padding: 0px;
    margin-bottom: -3%;

  }

  p {
    color: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: -3%;
  }

    /* link styling, resetting to remain white */ 
a {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}
   /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  } 

  #location-information {
    /* position: absolute;
    text-align: center;
    left: 42%;
    bottom: 20%; */
    color: blue;
    text-align:center;
  }

  .location-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    left: 35%;
    bottom: 14%;
  }

  .button {
    font-size: 20%;
    font-variation-settings: 'opsz' 100;
    font-weight: 60;

    border-style: solid;
    border-color: white;

    border-radius: 1.5em;
    padding: .2rem;
    padding-top: .7rem;
    padding-bottom: .7rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .button:hover {
    background: white;
    color: black;
  }

  .button-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    left: 35%;
    bottom: 8%;
  }





