@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamicWeightSlantVF.ttf);
  }

body {
    /* background image settings */
    background-image: url("../project_stories/img/road.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px; /* this is more of a hack than an actual solution */ 
    background-blend-mode: multiply;
    background-color: #494949;

    /* font styling */ 
    font-family: 'Aero-Dynamic', sans-serif;
    /* font-variation-settings: 'wght' 100; */ 
    font-variation-settings: 'opsz' 100;
    color: white;

    margin: 0%;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  h1 {
    font-variation-settings: 'opsz' 100;
    font-weight: 100;
    text-align: center;
    font-size: 4.5em;

    margin: 0%;
    padding-top: 20vh;
  }

  p {
    font-variation-settings: 'opsz' 100;
    font-weight: 10;
    text-align: center;
    font-size: 1.2em;

  }

  .button {
    border-style: solid;
    border-color: white;
    color: white;

    border-radius: 1.3em;
    padding: 1.2em;
    padding-top: .7em;
    padding-bottom: .7em;
  }

  .button:hover {
    background: white;
    color: black;
  }

  /* link styling, resetting to remain white */ 
a {
    font-size: 1.5em;
    text-decoration: none;
}
   /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  } 


/* Flexbox styling test */

  
  .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    padding-top: 12%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    align-items: center;
  }
  
  .item {
    padding: 1vw;

  }
  
/* MEDIA Query to change the layout based on which device is being used */ 

  @media only screen and (max-width: 1000px) {
    body {
        padding-left: 8vw;
        padding-right: 8vw;

        /* background image settings */
        background-image: url("../project_stories/img/road.jpeg");
        background-size: 110vh;
        background-repeat: no-repeat;
        background-position: 40%; /* this is more of a hack than an actual solution */ 
    }
    h1 {
        font-variation-settings: 'opsz' 100;
        font-weight: 100;

        padding-top: 12vh; 
        padding-left: 8vw;
        padding-right: 8vw;
    }
    p {
        font-variation-settings: 'opsz' 100;
        font-weight: 10;
    }
    a {
        font-size: 1.8em;
    }
    .row {
        padding-top: 5%;
    }
    .item {
        margin: 5%;
    }
    .text-content-area {
        width: 97%;
      }

  }
  
  @media screen and (min-width: 1000px) {
    .column {
      flex: 1
    }
  }

  /* Phone Media query */

  @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    padding-left: 5vw;
    padding-right: 5vw;

    /* background image settings */
    background-image: url("../project_stories/img/road.jpeg");
    background-size: 110vh;
    background-repeat: no-repeat;
    background-position: 30%; /* this is more of a hack than an actual solution */ 
}
h1 {
    font-variation-settings: 'opsz' 100;
    font-weight: 100;
    font-size: 3.5em;

    padding-top: 8vh; 
    padding-left: 0vw;
    padding-right: 0vw;
}
p {
    font-variation-settings: 'opsz' 100;
    font-weight: 10;
    font-size: 1em;
}
a {
    font-size: 1.2em;
}
.button {
    padding: 1.5rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
}
.row {
    padding-top: 5%;
}
.item {
    margin: 5%;
}
}