/* CSS now completed for desktop, will delete and start with a mobile first approach */ 

@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamicWeightSlantVF.ttf);
  }

body {
    /* font styling */ 
    font-family: 'Aero-Dynamic', sans-serif;
    margin: 0px;
  }

  .hero-section {
    /* background image settings */
    background-image: url("../project_stories/img/road.jpeg");
    background-size: 100vh;
    background-repeat: no-repeat;
    /* background-position: 0px; /* this is more of a hack than an actual solution */ 
    background-blend-mode: multiply;
    background-color: #494949;

    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vh;
    padding-top: 4vh;


    color: white;
  }

  h1 {
    font-variation-settings: 'opsz' 100;
    font-weight: 100;
    text-align: center;
    font-size: 260%;

    margin: 0%;
  }

  h2 {
    font-variation-settings: 'opsz' 100;
    font-weight: 100;
    text-align: center;
    font-size: 3em;
  }

  h3 {
    font-variation-settings: 'opsz' 100;
    font-weight: 100;
    text-align: center;
    font-size: 2em;
  }

  h4 {
    font-variation-settings: 'opsz' 100;
    font-weight: 60;
    text-align: center;
    font-size: 2em;
  }

  h4.recommendation {
    padding-left: 15%;
    padding-right: 15%;
  }

  p {
    font-variation-settings: 'opsz' 100;
    font-weight: 60;
    text-align: center;
    font-size: 120%;

  }


hr {
    width: 100%;
}
  /* link styling, resetting to remain white */ 
a {
  font-variation-settings: 'opsz' 100;
  font-weight: 100;
  font-size: 120%;

  text-decoration: none;
}
   /* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }

  /* selected link */
  a:active {
    color: black;
  } 

  a.button{
    color: white;
  }

  .button {
    border-style: solid;
    border-color: white;
    color: white;

    font-size: 1.5em;
    text-decoration: none;

    border-radius: 1.3em;
    padding: 1.3em;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .button:hover {
    background: white;
    color: black;
  }

/* Flexbox styling test */

  
  .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    padding-top: 12%;
    padding-bottom: 12%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    align-items: center;
  }
  
  .item {
    padding: 6%;

  }

  .directory-section {
    margin-left: 15%;
    margin-right: 15%;
  }
  

  
/* MEDIA Query to change the layout based on which device is being used */ 


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .column {
    flex: 1
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 