@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamicWeightSlantVF.ttf);
  }

  body {
    margin: 0px;
    padding: 5%;

    /* Add the custom font */
    font-family: 'Aero-Dynamic', Helvetica, sans-serif;
    font-variation-settings: 'opsz' 100;
    font-weight: 60;
    color: white;

    /* background image styling, not sure it's working */
    background-size: 200vh;
    background-repeat: no-repeat;
    background-position-x: 50%; /* this is more of a hack than an actual solution */ 
    /* background-position-y: -150px; */
    background-blend-mode: multiply;
    background-color: #494949;
    
  }

  small {
    font-size: 260%;
  }

  /* styling for the main hero text */ 
  .variable {
    text-align: center;
    margin-top: 10%;

  }

  /* button styling */ 
  .button {
    font-size: 140%;
    font-variation-settings: 'opsz' 100;
    font-weight: 60;

    border-style: solid;
    border-color: white;

    border-radius: 1.5em;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .button:hover {
    background: white;
    color: black;
  }

  .button-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: absolute;
    left: 20%;
    bottom: 11%;
  }

  /* positioning and styling for the instructions */

  h3 {
    font-size: 140%;
    font-variation-settings: 'opsz' 100;
    font-weight: 60;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .instructions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 0%;
  }

  /* positioning and styling for the location data */ 

  .location-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 20%;
  }
/* link styling, resetting to remain white */ 
a {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}
   /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  } 


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    small {
        font-size: 350%;
      }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    small {
        font-size: 380%;
      }
      .variable {
        margin-top: 5%;
    
      }
 }
 
