@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamicWeightSlantVF.ttf);
  }

  body {
    margin: 0px;
    padding: 5%;

    /* Add the custom font */
    font-family: 'Aero-Dynamic', Helvetica, sans-serif;
    font-variation-settings: 'opsz' 100;
    font-weight: 60;
    color: white;

    /* background image styling, not sure it's working */
    background-size: 200vh;
    background-repeat: no-repeat;
    background-position-x: -190vw; /* this is more of a hack than an actual solution */ 
    /* background-position-y: -20px; */
    background-blend-mode: multiply;
    background-color: #494949;
  }

  small {
    font-size: 150%;
  }

/* link styling, resetting to remain white */ 
a {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}
   /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  } 

