html, body {
    margin: 2vw;
    padding: 0;
  }
  canvas {
    display: block;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }