body{
    background-color: #1b3fcf;
    cursor: none;
    height: 150vh;
  }

  .rounded{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(8, 237, 16);
    border-radius: 50%;
  }
  
  .pointed{
    width: 7px;
    height: 7px;
    background-color: rgb(124, 44, 44);
    border-radius: 50%;
    margin-bottom: 20rem;
  }
  