@font-face {
    font-family: Aero-Dynamic;
    src: url(../data/AeroDynamic_2VF.ttf);
  }

html, body {
    margin: auto;
    width: 95%;
    padding: 10px;

    font-family: 'AeroDynamic_2VF', sans-serif;
    font-size:100px;

    background-color: black;

  }
  canvas {
    display: block;
  }
  
  input {
    display: block;
  }

  .variable {
    /* margin-top: 15%;*/
    font-weight: 300;
    text-align: center;
    font-size: 160%;
    color: white;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100px;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: white;
  }

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
    font-size: small;
  }

  small {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
  }

  a {
    color: white;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {

    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 5px;
    margin-bottom: 1%;
    /* height: 300px; /* Should be removed. Only for demonstration */
  }

#navigation {
    text-align: right;
}

