body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.55em;;
    margin: 0;
    cursor: none;
  }
  
  footer {
    background-color: #ffffff;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* Image grid here, I'm sure there's a better solution */
  img.play-tiles-1 {
    width: 100px;
    border: 1px solid black;
    margin-left: 40vw;
    margin-bottom: 3vw;
 }

 img.play-tiles-2 {
    width: 100px;
    border: 1px solid black;
    margin-left: 70vw;
    margin-bottom: 3vw;
 }

 img.play-tiles-3 {
    width: 100px;
    border: 1px solid black;
    margin-left: 25vw;
    margin-bottom: 3vw;
 }

 img.play-tiles-4 {
    width: 100px;
    border: 1px solid black;
    margin-left: 0vw;
    margin-bottom: 3vw;
 }

 img.play-tiles-5 {
    width: 100px;
    border: 1px solid black;
    margin-left: 50vw;
    margin-bottom: 3vw;
 }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: grey;
  }
  
  hr {
    border-top: 1px solid black;
  }
  
  /* styles the outer margin */
  .content-area { 
    margin: 5vw;
    padding-top: 5vh;
  }
  
  /* text content area styling */
  .text-content-area {
    padding: 1vw;
    width: 57vw;
  }
  
  /* Flexbox styling test */
  .image-wrapper {
    margin: 0vw;
    align-items: center;
  }

  /* custom cursor 
.rounded {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
}
*/
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  
  .item {
    padding: 1vw;
    padding-bottom: 5vh;

  }
  
  @media only screen and (max-width: 1000px) {
    .text-content-area {
      width: 97%;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .column {
      flex: 1
    }
  }

  /* Square button area */
  .project-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.footer-line {
    margin-top: 5vw;
}

li {
  list-style-type: none;
}