body {
  font-family:Helvetica, Arial, sans-serif;
  line-height: 1.55em;;
  margin: 0;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.content {
  margin-left: 25%;
  padding-top: 6em;
}
.project-section {
  padding-right: 3em;
}

.project-section img {
    width: 100%;
    height: 35em;
    object-fit: cover;
  }

.navigation-section {
  font-family:Helvetica, Arial, sans-serif;
  line-height: 1.55em;;
  /* background-color: #B8D8D8; */
  margin: 0%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* W3Schools Full Height Side Nav Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 3em;
  width: 25%;
  /*background-color: #f1f1f1; /* use for testing */
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.project-navigation {
  padding: 0px;
  padding-left: 1em;
  list-style-type: disc;
  list-style-position: inside;
}

li a {
  display: block;
  color: #000;
  /* padding: 12px 16px; */
  padding: 12px 0px 0px 80px;
  text-decoration: none;
}

li a.ashley-towey-home {
  font-weight: bold;
  font-size:larger;
  padding-bottom: 1.5em;
}

li a:hover:not(.active) {
  font-weight: bolder;
}
/* W3Schools Full Height Side Nav End */
