body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0%;
}

.intro {
  background-color: coral;
  margin: 0%;
  padding: 2%;
  height: 100px;
}

.projects-intro {
  background-color: blue;
  margin: 0%;
  padding: 2%;
  height: 80px;
}